@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --Chop-color: #ffffff;
  --main-text: #ffffff;
  --sub-text: #d1d5db; /*gray-300*/
  --other-text: #1f2937; /*gray 800*/
  --primary: #134e4a; /*teal-900*/
  --primary-cmpmt: #fcd34d; /*yellow-300*/
  --secondary: #319795; /*teal-500*/
  --secondary-light: #4fd1c5; /*teal-400*/
  --secondary-dark: #2d756b; /*teal-600*/
  --navlink-rest: rgba(255, 255, 255, 0.8);
  --signup-button-hover: #facc15; /*yellow-400*/
  --bg-light: #fafafa; /*gray-50*/

  --section-title-end-gradient: #64d5d0; /*teal-300*/
  --section-bg-gradient-start: rgba(255, 255, 255, 0.4);
  --section-bg-gradient-end: rgba(255, 255, 255, 0.7);

  --slider-bg:#e5e5e5;
  --slider-handle-border: #4caf50;
  --slider-handle-bg: #4caf50;
  --slider-track-bg: #4caf50;
  --slider-rail-bg: #e5e5e5;

  --filter-unsaved-bg: #fef9c3;

  --glass-bg: rgba(255, 255, 255, 0.6);
  --glass-border: rgba(255, 255, 255, 0.2);
  --recipe-detail-category: #b2f4f2; /*teal-100*/
  --recipe-detail-subcategory: #fef9c3; /*yellow-100*/
  --recipe-detail-category-text: #1f5f57; /*teal-800*/
  --recipe-detail-subcategory-text: #9a5b00; /*yellow-800*/
  --recipe-detail-ingredient-skeleton-bullet: #6b7280; /*gray-400*/

  --search-results-bg: #f3f4f6; /*gray 100*/
  --search-results-subtext: #6b7280;/*gray 500*/
}

.theme-light {
  --background: #ffffff;
  --foreground: #171717;

  --Chop-color: #134e4a; /*teal-900*/
  --main-text: #1f2937; /*gray 800*/;
  --sub-text: #4b5563;/*gray 600*/
  --other-text: #6b7280; /*gray-400*/; 
  --primary: #ffffff; /*white*/
  --primary-cmpmt: #facc15; /*yellow-400*/
  --secondary: #319795; /*teal-500*/
  --secondary-light: #4fd1c5; /*teal-400*/
  --secondary-dark: #f3f4f6; /*gray-100*/
  --navlink-rest: rgba(255, 255, 255, 0.8);
  --signup-button-hover: #facc15; /*yellow-400*/
  --bg-light: #fafafa; /*gray-50*/

  --section-title-end-gradient: #64d5d0; /*teal-300*/
  --section-bg-gradient-start: rgba(255, 255, 255, 0.4);
  --section-bg-gradient-end: rgba(255, 255, 255, 0.7);

  --slider-bg:#e5e5e5;
  --slider-handle-border: #4caf50;
  --slider-handle-bg: #4caf50;
  --slider-track-bg: #4caf50;
  --slider-rail-bg: #e5e5e5;

  --filter-unsaved-bg: #fef9c3;

  --glass-bg: rgba(255, 255, 255, 0.6);
  --glass-border: rgba(255, 255, 255, 0.2);
  --recipe-detail-category: #b2f4f2; /*teal-100*/
  --recipe-detail-subcategory: #fef9c3; /*yellow-100*/
  --recipe-detail-category-text: #1f5f57; /*teal-800*/
  --recipe-detail-subcategory-text: #9a5b00; /*yellow-800*/
  --recipe-detail-ingredient-skeleton-bullet: #6b7280; /*gray-400*/

  --search-results-bg: #f3f4f6; /*gray 100*/
  --search-results-subtext: #6b7280;/*gray 500*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .colours{
  --cream: #F5F3F0; 
  --coral: #FF6F61; 
} */

/* prevent text from "overflowing" to next line */
/* .ant-slider-mark-text { 
  font-size: 14px;
  white-space: nowrap;
} */


/* globals.css */




/*
https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration 
https://tailwindcss.com/docs/background-color
https://tailwindcss.com/docs/box-shadow
*/